*{

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{


}

.task-container{
  height: auto;
  width: 320px;
  padding: 0;
  position: absolute;
  display: block;
  opacity: 1;
  text-align: left;
  bottom: 120px;
  left: 50px;
  z-index: 2000;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px;
}


.style-task{
  position: relative;
  width: 100%;
  height: 25%;
  background-color: #3c3e3ec7;
  font-size: inherit;
  border-radius: 3px;
}

.inputField {
  background-color: transparent;
    border: none;
    color: white;
    -webkit-text-fill-color: rgb(253, 251, 251);
    width: -webkit-fill-available;
    font-size: 1.3em;
    text-align: center;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgb(43, 109, 109) !important;
  background-image: none !important;
  color: rgb(49, 49, 49) !important;
  -webkit-text-fill-color: rgb(201, 98, 98);
}


.style-to-do{
  position: relative;
  width: 100%;
  height: 75%;
  background-color: #5453536e;
  overflow: auto;
  word-wrap: break-word;
  color: white;
  border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;


}

.style-task-div{
  /* width: 100%; */
  overflow-y: auto; /* Change div size automatically*/
  margin: .5em;
}

/* ===== Checkbox style ===== */




.style-checkbox{
  float: left;
  clear: left;
  margin-right: .3em;
  margin-top: 0.25em;
  border-radius: 50%;
}

/* ===== Checkbox style ===== */


.strikethrough{
  text-decoration: line-through;
}

.style-task-paragraph{
  /*position: relative;*/
  float: left;
  margin-top: 0.025em;
  max-width: 60%;
}

.style-task-delete{
  /*position: relative;*/
  float: right;
  /* margin: 0; */
  clear: right;
  background: transparent;
  border-style: none;
  color: white;
}

.removeAnime {
  transition: .5s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 0;
}


/* ===== Search Bar style ===== */
.search-div-style{
  position: absolute;
  bottom: 100px;
  right: 50px;
  width: auto;
  height: 5em;
  background:rgba(50,53,62,0.6);
  border-radius: 3px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 200;
}

.search-input-style{
  position: relative;
  background:rgba(255,255,255,0.9);
  box-shadow: inset 0 0 2px black;
  text-align: center;
  width: 15em;
  height: 2.25em;
  z-index: 201;
}

.search-form-style{
  position: relative;
  width: auto;
  height: auto;
}

.search-button-style{
  height: 2.25em;
  border-radius: 3px;
  background-color: rgb(0, 147, 204);
border-color: rgb(22, 96, 209);
  color: lightgrey;
}
/* ===== Search Bar style ===== */
