body {
  overflow-y: hidden;
  /* background-color: white !important; */
  font-family: 'Comfortaa', 'Nunito', 'Quicksand', sans-serif !important ;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

img {
    /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
} 

.centerText {
  display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 1;
}
.centerText h1 {
  /* font-family: 'Comfortaa', sans-serif; */
  font-size: 4rem;
  color: white;
}

.bottomFunctions{
    display: block;
    top: 80%;
    left: 51%;
    width: 100%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 1;
}
.leftSide{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgba(255,255,255,1.0);
    z-index: 100;
    margin: 2em;
}

.rightSide{
    position: absolute;
    display: block;
    opacity: 1;
    overflow-y: hidden;
    text-align: left;
    bottom: 120px;
    right: 50px;
}
.rightSide p {
     font-size: 1.3em;
    color: rgb(253, 249, 253);
  }

  .googleSearch{
    font-family: 'Comfortaa', sans-serif;
    font-size: .8em;
    padding: .22em 0;
  }


/* clock */
.clock {
  color: white;
  /* font-weight: thin; */
  font-size: 1.5em;
  /* z-index: 1000; */
  display: block;
    top: 60%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
    position: absolute;
}

/* hiding the tasks */
.hideArrow {
  z-index: 100;
  color: white;
  position: absolute;
  bottom: 87px;
    left: 50px;
background: none;
border: none;
}
button.hideArrow::before{
  content: none;
}